@model CommonLayer.Model.EmployeeLogin

@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/Login.css" />
<div class="main-login-page">
    <h1 class="Form_title">Login</h1>
    <div class="login-page">
        <h4>EmployeeLogin</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="EmpLoginId" class="control-label"></label>
                        <input asp-for="EmpLoginId" class="form-control" />
                        <span asp-validation-for="EmpLoginId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmpLoginName" class="control-label"></label>
                        <input asp-for="EmpLoginName" class="form-control" />
                        <span asp-validation-for="EmpLoginName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        @*<div>
        <a asp-action="Index">Back to List</a>
        </div>*@
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
